Laboratorio02/xegvcuatro/.idea/gradle.xml
Laboratorio02/xegvcuatro/.idea/gradle.xml
Laboratorio02/xegvcuatro/app/src/main/java/com/example/xegvcuatro/MainActivity.kt
Laboratorio02/xegvcuatro/gradle/libs.versions.toml
Laboratorio02/xegvcuatro/app/src/main/java/com/example/xegvcuatro/MainActivity.kt
Laboratorio02/xegvcuatro/app/build.gradle.kts
Laboratorio02/xegvcuatro/.idea/vcs.xml
Laboratorio02/xegvcuatro/.idea/gradle.xml
Laboratorio02/xegvcuatro/.idea/gradle.xml
Laboratorio02/xegvcuatro/.idea/misc.xml
Laboratorio02/xegvcuatro/app/build.gradle.kts
Laboratorio02/xegvcuatro/app/src/main/java/com/example/xegvcuatro/MainActivity.kt
Laboratorio02/xegvcuatro/gradle/libs.versions.toml
Laboratorio02/xegvcuatro/.idea/gradle.xml
